body {
    background-color: #D89BCC;

}



main {
 /*   background-color: #8AA8B0;*/
    float: left;
    width: 75%;
}

aside {
    float: left;
    width: 25%;
    color: seashell;
    font-family: Tahoma, Geneva, sans-serif;      
}



header nav div {
    width: 25%;
    float: left;
}

header nav ul {
    list-style: none;
    float: left; 
}

a:link {
    color: #006875;
}

a:visited {
    color: seashell;
}

h1 {
    color: #A5156F;
    font-family: Tahoma, Geneva, sans-serif;    
}

h2 {
    color: #88969A;
    font-family: Tahoma, Geneva, sans-serif;    
}


#primary-area {
    clear:both;

}

header, footer {
    background-color: #88969A;
    color: #A5156F;    
    font-family: Tahoma, Geneva, sans-serif;
}


article {
    background-color: #B770A4;
    font-family: Tahoma, Geneva, sans-serif;
    color: seashell;    
    margin-bottom: 2rem;
    margin-right: .5rem;
    padding: 0 .75rem; 
}

footer {
    clear: both;
}
